@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background: #DAD299;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }


 h1{
    margin: 3rem;
}

input{
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid purple;
}

button{
    margin: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #7C3AED;
    border: 1px solid #7C3AED;;
    color: white;
}

#output{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#foot{
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}
#foot>p{
    margin: 0;
}